.demos {
    .canvas-img {
        width: clamp(260px, 80%, 720px);
        margin: 20px auto;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .canvas-container {
            position: relative;
            width: 100%;

            .canvas-dot {
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                background-color: #fff;
                box-shadow: 0 0 10px black;
                transform: translate(-8px, -8px);
                cursor: pointer;

                &.hover,
                &:hover {
                    background-color: #0072ff;
                }

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    aspect-ratio: 1/1;
                    top: 50%;
                    left: 50%;
                    background: #ffffffa8;
                    transition: all 0.8s linear;
                    transform: translate(-50%, -50%);
                    border-radius: 100%;
                }

                &:before {
                    animation: drop 1.5s linear 0s infinite;
                }
                &:after {
                    animation: drop 1.5s linear 0.35s infinite;
                }

                &.tooltip {
                    .tooltip-content {
                        position: absolute;
                        min-width: 180px;
                        padding: 10px;
                        background-color: rgb(255, 255, 255);
                        bottom: 10px;
                        left: 50%;
                        transform: translate(-50%, 0px);
                        transition: all 0.1s linear;
                        border-radius: 4px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        visibility: hidden;
                        border: 1px solid #b3b3b3;

                        &::before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            left: 50%;
                            top: 100%;
                            background: rgb(255, 255, 255);
                            transform: translate(-50%, -5px) rotate(45deg);
                            border-bottom-right-radius: 4px;
                            border: 1px solid #b3b3b3;
                            border-left-width: 0;
                            border-top-width: 0;
                        }
                    }

                    &:hover {
                        & > * {
                            bottom: 30px;
                            visibility: visible;
                        }
                    }
                }
            }

            canvas {
                vertical-align: middle;
                transition: all 0.2s linear;
                background: #181818;
                width: 100%;
            }
        }
    }

    .crops {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        min-height: 70px;

        canvas {
            vertical-align: middle;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                outline: 1px #0072ff solid;
            }
        }
    }

    @keyframes drop {
        from {
            width: 0;
            opacity: 1;
        }
        to {
            width: 250%;
            opacity: 0;
        }
    }
}
